/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this

@import './theme/bootstrap';
@import '../../node_modules/aos/dist/aos.css';

@import './theme/game-card';


body {
    height: 100vh;
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.font-spacing {
    letter-spacing: .2rem;
}

